/* Estilo para o corpo da página */
body {
  font-family: 'Your Custom Font', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo para o cabeçalho */
header {
  background-color: #00b894;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Estilo para a seção de pesquisa */
.search-section {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.search-section h2 {
  margin: 0;
  font-size: 20px;
}

#search-input {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00b894;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

#search-button:hover {
  background-color: #00987c;
}

/* Estilo para os cards das plantas */
.plant-card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #000; /* Texto em cor preta */
  font-size: 16px; /* Tamanho da fonte aumentado */
}

.plant-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.plant-card h3 {
  font-size: 18px;
  margin: 0;
  color: #000; /* Texto em cor preta */
}

.plant-card p {
  font-size: 14px;
  color: #000; /* Texto em cor preta */
  margin-bottom: 10px;
}

.plant-card a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #00b894;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.plant-card a:hover {
  background-color: #00987c;
}

/* Estilo para o rodapé */
footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
}
.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
}
body {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
